doctype 5
html
  head
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    title Striker: Bad-ass, greasy-fast, cached calculated collections

  body
    include shared/toppanel
    .container
      block content

    script(type='text/javascript', src='vendor/jquery.js')
    script(type='text/javascript', src='vendor/underscore.js')
    script(type='text/javascript', src='vendor/backbone.js')
