doctype 5
html
  head
    title Striker: Bad-ass, greasy-fast, cached calculated collections
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    link(href='assets/application.css', rel='stylesheet', type='text/css')

  body
    include shared/toppanel
    .container
      block content
    script(type='text/javascript', src='assets/application.js')
