meta(http-equiv='content-type', content='text/html;charset=UTF-8')
title Striker: Bad-ass, greasy-fast, cached calculated collections
link(href='libs/css/bootstrap.css', rel='stylesheet', type='text/css')
link(href='libs/css/github.css', rel='stylesheet', type='text/css')
link(href='libs/css/tablestakes.css', rel='stylesheet', type='text/css')
link(href='libs/css/tactile.css', rel='stylesheet', type='text/css')
//- link(href='css/striker.css', rel='stylesheet', type='text/css')
style
  .icon-white {background-image: url("libs/img/glyphicons-halflings-white.png")}

script(src="http://code.jquery.com/jquery-1.9.1.min.js")
script(type='text/javascript', src='libs/underscore.js')
script(type='text/javascript', src='libs/backbone.js')
script(type='text/javascript', src='libs/rainbow.js')
//script(type='text/javascript', src='libs/highcharts.js')
script(type='text/javascript', src='libs/highcharts/highcharts.js')
script(type='text/javascript', src='libs/bootstrap.min.js')
script(type='text/javascript', src='libs/coffee-script.js')
script(type='text/javascript', src='libs/coffeelint.js')
script(type='text/javascript', src='libs/d3.js')
script(type='text/javascript', src='libs/tablestakes.js')

script(type='text/javascript', src='js/striker.js')
script(type='text/javascript', src='js/demo.js')
title Striker: Bad-ass, greasy-fast, cached calculated collections
