.row
  div(class="span#{table.fields.size * 2}")
    h3= table.title
      small=  table.desc
    table(class = "table table-condensed table-bordered table-striped #{table.klass}")
      thead
        tr
        each field in table.fields
          th= field
      tbody
