<div class="container">
  <section id="objects">
    <h1>Backbone collections</h1>
    <div class="row">
      <div class="span4">
        <h3>Revenue streams</h3>
        <div id="streams"></div>
      </div>
      <div class="span4">
        <h3>Customer segments</h3>
        <div id="segments"></div>
      </div>
    </div>

    <div class="row">
      <div class="span4">
        <h3>Channels</h3>
        <div id="channels"></div>
      </div>
      <div class="span4">
        <h3>Customer acq stages</h3>
        <div id="stages"></div>
      </div>
    </div>
  </section>

  <section id="forecast">
    <h1>Striker base collections</h1>

    <div class="row">
      <div class="span6">
        <h3>Channel mix <small>app.channelSegmentMix.set(value, channelId, segmentId)</small></h3>
        <div id="channelSegmentMix"></div>
      </div>
      <div class="span6">
        <h3>Initial volume <small>app.initialVolume.set(value, stageId, channelId, segmentId)</small></h3>
        <div id="initialVolume"></div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <h3>Topline growth <small>app.toplineGrowth.set(value, channelId, monthId)</small></h3>
        <div id="toplineGrowth"></div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <h3>Conversion rates <small>app.conversionRates.set(value, notFirstStageId, channelId, monthId)</small></h3>
        <div id="conversionRates"></div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <h3>Churn rates <small>app.churnRates.set(value, segmentId, monthId)</small></h3>
        <div id="churnRates"></div>
      </div>
    </div>
  </section>

  <section id="calculations">
    <h1>Striker forecast collections</h1>
    <div id="highchart"></div>
    <div id="tactile"></div>

    <div class="row">
      <div class="span12">
        <h3>Conversion forecast</h3>
        <div id="conversionForecast"></div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <h3>Churn forecast</h3>
        <div id="churnForecast"></div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <h3>Customer volume forecast</h3>
        <div id="customerForecast"></div>
      </div>
    </div>
  </section>
</div>