<div class="container" id="container">
  <h1>Performance Tests</h1>

  <section>
    <h3>Customer Revenue</h3>
    <form class="form-horizontal" id="customerRevenue">
      <input class="input-xlarge" id="customerRevenueInput" value="1000">
      <button type="submit" class="btn">Run</button>
    </form>
    <a href="#" class="clear pull-right", data-id="customerRevenue">clear</a>
    <pre id="customerRevenueResults" class="test-results">No results</pre>
  </section>

  <section>
    <h3>Reach</h3>
    <form class="form-horizontal" id="reach">
      <input class="input-xlarge" id="reachInput" value="1000">
      <button type="submit" class="btn">Run</button>
    </form>
    <a href="#" class="clear pull-right", data-id="reach">clear</a>
    <pre id="reachResults" class="test-results">No results</pre>
  </section>
</div>
